<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.endurance.value" class="resource-label">Endurance</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.endurance.value" value="{{system.endurance.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.endurance.max" value="{{system.endurance.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.karma.value" class="resource-label">Karma</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.karma.value" value="{{system.karma.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.karma.max" value="{{system.karma.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="karma_capability">Karma</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <section class="main grid-span-1">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          
          <div class="persCombat flexcol">
            <h2>Personal Combat</h2>
            {{#each system.personalCombat as |ability key|}}
            <div class="persCombat flexrow flex-group-center">
              <label for="system.personalCombat.{{key}}.value" class="resource-label skillRoll flexlarge align-left" data-skill="{{lookup @root.config.abilityGroups.personalCombat key}}" data-roll="d10+@personalCombat.{{key}}.mod" data-label="{{localize (lookup @root.config.abilityGroups.personalCombat key)}}">{{localize (lookup @root.config.abilityGroups.personalCombat key)}}</label>
              <input type="text" name="system.personalCombat.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d10+@personalCombat.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities.personalCombat key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <input type="checkbox" name="system.personalCombat.{{key}}.check" {{checked ability.check}}/>
            </div>
            {{/each}}
          </div>

          {{!-- Vehicle Skills --}}
          <div class="vehicleSkills flexcol">
            <h2>Vehicle Skills</h2>
            {{#each system.vehicleSkills as |ability key|}}
            <div class="vehicleSkills flexrow flex-group-center">
              <label for="system.vehicleSkills.{{key}}.value" class="resource-label skillRoll flexlarge align-left" data-skill="{{lookup @root.config.abilityGroups.vehicleSkills key}}" data-roll="d10+@vehicleSkills.{{key}}.mod" data-label="{{localize (lookup @root.config.abilityGroups.vehicleSkills key)}}">{{localize (lookup @root.config.abilityGroups.vehicleSkills key)}}</label>
              <input type="text" name="system.vehicleSkills.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d10+@vehicleSkills.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities.vehicleSkills key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <input type="checkbox" name="system.vehicleSkills.{{key}}.check" {{checked ability.check}}/>
            </div>
            {{/each}}
          </div>

        </section>
        <section class="main grid-span-1">
          {{!-- Intelligence --}}
          <div class="intelligence flexcol">
            <h2>Intelligence</h2>
            {{#each system.intelligence as |ability key|}}
            <div class="intelligence flexrow flex-group-center">
              <label for="system.intelligence.{{key}}.value" class="resource-label skillRoll flexlarge align-left" data-skill="{{lookup @root.config.abilityGroups.intelligence key}}" data-roll="d10+@intelligence.{{key}}.mod" data-label="{{localize (lookup @root.config.abilityGroups.intelligence key)}}">{{localize (lookup @root.config.abilityGroups.intelligence key)}}</label>
              <input type="text" name="system.intelligence.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d10+@intelligence.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities.intelligence key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <input type="checkbox" name="system.intelligence.{{key}}.check" {{checked ability.check}}/>
            </div>
            {{/each}}
          </div>
          {{!-- Espionage --}}
          <div class="espionage flexcol">
            <h2>Espionage</h2>
            {{#each system.espionage as |ability key|}}
            <div class="espionage flexrow flex-group-center">
              <label for="system.espionage.{{key}}.value" class="resource-label skillRoll flexlarge align-left" data-skill="{{lookup @root.config.abilityGroups.espionage key}}" data-roll="d10+@espionage.{{key}}.mod" data-label="{{localize (lookup @root.config.abilityGroups.espionage key)}}">{{localize (lookup @root.config.abilityGroups.espionage key)}}</label>
              <input type="text" name="system.espionage.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d10+@espionage.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities.espionage key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <input type="checkbox" name="system.espionage.{{key}}.check" {{checked ability.check}}/>
            </div>
            {{/each}}
          </div>
        </section>
        <section class="main grid-span-1">
          {{!-- Social Skills --}}
          <div class="socialSkills flexcol">
            <h2>Social Skills</h2>
            {{#each system.socialSkills as |ability key|}}
            <div class="socialSkills flexrow flex-group-center">
              <label for="system.socialSkills.{{key}}.value" class="resource-label skillRoll flexlarge align-left" data-skill="{{lookup @root.config.abilityGroups.socialSkills key}}" data-roll="d10+@socialSkills.{{key}}.mod" data-label="{{localize (lookup @root.config.abilityGroups.socialSkills key)}}">{{localize (lookup @root.config.abilityGroups.socialSkills key)}}</label>
              <input type="text" name="system.socialSkills.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d10+@socialSkills.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities.socialSkills key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <input type="checkbox" name="system.socialSkills.{{key}}.check" {{checked ability.check}}/>
            </div>
            {{/each}}
          </div>
        </section>

      </section>
      {{!-- For the main features list, span the right two columns --}}
      <section class="main">
        {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
        {{> "systems/edrpg-system/templates/actor/parts/actor-features.hbs"}}
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/edrpg-system/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/edrpg-system/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Owned Karma Tab --}}
    <div class="tab karma_capability" data-group="primary" data-tab="karma_capability">
      {{> "systems/edrpg-system/templates/actor/parts/actor-karma.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/edrpg-system/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
