<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <div class="resources grid grid-3col">
        <div class="main grid grid-span2">
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
        <div class="main grid grid-span1">
          <h2 class="charrank">ToDo: Rank</h2>
        </div>
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.endurance.value" class="resource-label">Endurance</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.endurance.value" value="{{system.endurance.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.endurance.max" value="{{system.endurance.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.karma.value" class="resource-label">Karma</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.karma.value" value="{{system.karma.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.karma.max" value="{{system.karma.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.rankpoints.value" class="resource-label">Rankpoints</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.attributes.rankpoints.value" value="{{system.attributes.rankpoints.value}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
      
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          
          <div class="persCombat flexcol">
            <h2>Personal Combat</h2>
            {{#each system.personalCombat as |ability key|}}
            <div class="persCombat flexrow flex-group-center">
              <label for="system.personalCombat.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d10+@personalCombat.{{key}}.mod" data-label="{{localize (lookup @root.config.abilityGroups.personalCombat key)}}">{{localize (lookup @root.config.abilityGroups.personalCombat key)}}</label>
              <input type="text" name="system.personalCombat.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d10+@personalCombat.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities.personalCombat key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>

          <div class="intelligence flexcol">
            <h2>Intelligence</h2>
            {{#each system.intelligence as |ability key|}}
            <div class="intelligence flexrow flex-group-center">
              <label for="system.intelligence.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d10+@intelligence.{{key}}.mod" data-label="{{localize (lookup @root.config.abilityGroups.intelligence key)}}">{{localize (lookup @root.config.abilityGroups.intelligence key)}}</label>
              <input type="text" name="system.intelligence.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d10+@intelligence.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities.intelligence key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/edrpg-system/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/edrpg-system/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/edrpg-system/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/edrpg-system/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
